<!-- src/app/table/table.component.html -->
<div class="container mx-auto p-4">
    <div *ngIf="!isLoading && hasData" class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-bold">User Data</h2>
        <div class="flex space-x-2">
            <!-- Delete button -->
            <app-button [buttonLabel]="'Delete'" [buttonColor]="'bg-red-500 hover:bg-red-600'"
                [disabled]="!hasSelectedRows" (buttonClick)="openDeleteModal()">
            </app-button>
            <!-- Save button -->
            <app-button [buttonLabel]="'Save changes'" [buttonColor]="'bg-green-500 hover:bg-green-600'"
                [disabled]="!isEditing" (buttonClick)="onSave()">
            </app-button>
        </div>
    </div>

    <!-- Table Container -->
    <div class="rounded h-[400px] flex items-center justify-center">
        <!-- Loading indicator -->
        <div *ngIf="isLoading" class="text-center">
            <p class="text-gray-500 text-xl">Loading data...</p>
        </div>

        <!-- Show "No data available" message when there's no data and not loading -->
        <div *ngIf="!isLoading && !hasData" class="text-center">
            <p class="text-gray-500 text-xl">No data available</p>
        </div>

        <!-- Show table only when there's data -->
        <div *ngIf="!isLoading && hasData" class="border border-gray-300 rounded">
            <div class="w-full overflow-x-auto" style="max-height: 400px">
                <table class="w-full border-collapse border border-gray-300">
                    <app-table-header [columns]="columns" [isAllSelected]="isAllSelected"
                        (selectAllChange)="onSelectAllChange($event)">
                    </app-table-header>
                    <app-table-row [data]="isEditing ? editedData : data" [columns]="columns"
                        [columnDataMapper]="columnDataMapper" [selectedRows]="selectedRows" (edit)="onEdit()"
                        (cellEdit)="onCellEdit($event)" (rowSelectionChange)="onRowSelectionChange($event)">
                    </app-table-row>
                </table>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <app-modal *ngIf="showDeleteModal" [title]="'Confirm Deletion'"
        [message]="'Are you sure you want to delete ' + selectedRows.size + (selectedRows.size === 1 ? ' row?' : ' rows?')"
        (confirm)="deleteSelectedRows()" (cancel)="closeDeleteModal()">
    </app-modal>